/******************
  MAIN/MID-SIZE
*******************/

* { margin: 0; padding: 0; }

.fixed {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1;
}

body {
  color: rgb(56,80,118);
  text-align: center;
}

a {
  color: rgb(201,117,37);
  text-decoration: none;
  font-weight: bold;
}

body a:hover {
  color: rgb(56,80,118);
}

/*******************
PASTED FROM TUTORIAL
*******************/
/* Navigation Settings */
nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: rgba(230,230,230,.5);
}

nav li {
	display: inline-block;
	padding: 24px 10px;
  vertical-align: center;
}

nav li a {
	color: #757575;
	text-transform: uppercase;
}

#logo {
  margin-bottom: -11px;
}

section {
	height: 80vh;
  padding-top: 20vh;
}

/* Screens Settings */
#page-header {
	background: #a7d9d9
}

#about {
	background: #efc94d;
}

#work {
	background: #e1793d;
}

#contact {
  background: #efc94d;
}

/******************
END TUTORIAL
******************/

nav ul a:hover {
  color: rgb(201,117,37);
}
/* /NAVIGATION */

li {
  font-family: "Century Gothic", sans-serif;
}

h1 {
  font-size: 70px;
  font-family: "Century Gothic", sans-serif;
}
h2 {
  color: rgb(201,117,37);
  font-family: "Century Gothic", sans-serif;
  font-size: 40px;


}
h3 {
  font-family: "Courier New", monospace;
}
h4 {
  font-family: "Century Gothic", sans-serif;
}
p {
  font-family: "Courier New", monospace;
  font-size: 18px;
}

/* HEADER */

#main-title{
  margin: -35px -10px -10px -10px;
  text-transform: uppercase;
}

#subtitle{
  margin: 0;
}

img#profile-pic {
  border: 40px solid rgba(56,80,118,.6);
  border-radius: 220px
}

#header-laptop {
  float: right;
  position: relative;
  width: 250px;
  bottom: 110px;
}

article {
  max-width: 900px;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  text-align: left;
  vertical-align: center;
}

.section-header{
  margin: 0px;
  padding: 0 0 20px 0;
}

.section-header h2 {
  font-size: 70px;
}

.contact-icons {
  display: inline-block;
  padding-right: 40px
}

.contact-icons img {
  width: 70px;
}
