/******************
  MAIN/MID-SIZE
*******************/
header{
  margin: -20px -20px 0px -20px;
 /*uncomment these w/ diff photo*/
  background:url(../img/drum.jpg);
  background-size: cover;
  background-position: cover;
  background-color: rgb(56,80,118);
   /*light blue*/
  color: rgb(191,209,233);
  padding: 20px 0px 0px 50px;
  border-width: 0px;
}

a {
  color: rgb(201,117,37);
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: white;
}

a[.contact]:hover {
  color: rgb(56,80,118);
}

body a:hover {
  color: rgb(56,80,118);
}

/* go back to regular a colors after adding a photo */
#nav a {
  color: white;
}

#nav a:hover {
  color: rgb(201,117,37);
}
/* / */

h1 {
  font-size: 70px;
  font-family: "Century Gothic", sans-serif;
  margin: -35px -10px -10px -10px;
}
h2 {
  color: rgb(201,117,37);
  font-family: "Century Gothic", sans-serif;
  font-size: 40px;
  margin: 0px;
  padding: 0px;

}
h3 {
  font-family: "Courier New", monospace;
  margin: 0px;
}
h4 {
  font-family: "Century Gothic", sans-serif;
}
p {
  font-family: "Courier New", monospace;
  font-size: 18px;
}

img#profile-pic {
  margin: 0px 0px 0px -100px;
  border: 40px solid rgba(191,209,233,.6);
  border-radius: 220px
}

ul#nav {
  padding: 10px;
  background-color: rgba(191,209,233,.6);;
  /* use w/ photo:
  background-color: rgba(80,80,80,.5);*/
  text-align: center;
  margin: 10px 0px 0px -40px;
  font-family: "Century Gothic", sans-serif;
  font-size: 20px;
  list-style: none;
  color: white;
  font-weight: bold;
}

li {
  display: inline;
}

body {
  color: rgb(56,80,118);
}

article {
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
/*  background-color: rgb(150,150,150);*/
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.row {
  margin-left: -15px;
  margin
}

#project-2, #contact {
  background-color: salmon;
}


/******************
  SMALLEST SCREEN
*******************/
@media (max-width: 500px) {
  #name {
    text-align: center;
  }
  h1 {
    font-size: 50px;
    margin: 0px;
  }
  h2 {
    font-size: 30px;
  }
  h4 {
    font-size: 14px;
  }
  #nav {
    text-align: left;
    padding-left: 32px;
    background-color: rgba(80,80,80,.5);
  }
  li {
    /*display: block;*/
    padding: 5px;
    /*font-size: 14px;*/
  }
  img {
    /*visibility: hidden;*/
    margin: 20px auto 0 auto;
  }
}

/******************
  LARGEST SCREEN
*******************/
  @media (min-width: 978px) {
    #nav {
       background-color: rgba(80,80,80,.7);
    }
    li {
      display: inline;
    }
  }
